body {
    overflow-x: hidden;
    overflow-y: scroll;
    overflow-inline: clip;
}

.container {
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
}

header {
    padding-bottom: 2rem;
    justify-content: center;
    background: hsl(85, 80%, 25%);
}

.title {
    padding-left: 150px;
    font-size: 2.0rem;
    font-weight: bold;
    color: #ffffff;
}

a h1 span {
    color: hsl(0, 5%, 7%);
}

header .nav {
    justify-content: center;
    /* padding-top: 10px; */
    padding-right: 150px;
}

header .nav-link {
    color: #ffffff;
    font-size: 15px;
    text-transform: uppercase;
}

.nav-link:hover {
    color: hsl(0, 5%, 7%);
}

.One {
    background: #ffffff;
    padding-bottom: 3rem;
    padding-bottom: 3rem;
}

.line {
    border-radius: 1rem;
    background-color: hsl(85, 88%, 31%);
}

.line:not([size]) {
    height: 3px;
}

.first-grid {
    text-align: left;
    padding-left: 9.4rem;
    padding-right: 7.5rem;
}

.space {
    color: hsl(85, 88%, 31%);
}

.intro {
    padding-left: 0;
    padding-right: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    color: hsl(0, 5%, 7%);
    font-size: 1.5rem;
}

.p-intro {
    color: hsl(0, 5%, 7%);
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 2rem;
    font-weight: bold;
    text-transform: capitalize;
}

.intro p {
    padding-left: 1rem;
    padding-right: 1rem;
    color: hsl(0, 5%, 7%);
}

.bt {
    display: flex;
    justify-content: flex-start;
    padding-right: 20px;
    padding-left: 1rem;
}

.bt>* {
    flex: 0 0 40%;
}

.log-bt {
    margin-right: 4rem;
    background: hsl(85, 88%, 31%);
    border-color: hsl(85, 88%, 31%);
    color: hsl(0, 5%, 7%);
}

.second-grid {
    justify-content: center;
    color: hsl(0, 5%, 7%);
    text-align: center;
    padding-right: 5rem;
}

.second-grid p {
    font-size: 1.2rem;
    padding-right: 2.5rem;
    padding-left: 2.5rem;
    margin-top: 4.0rem;
    margin-bottom: 0;
    font-weight: 550;
}

.dev {
    justify-content: center;
    padding-right: 30px;
}

.row {
    justify-content: center;
}

.dv-icon {
    height: 100%;
    width: 75%;
}

.main-p {
    color: hsl(0, 5%, 7%);
}

.users {
    color: hsl(85, 88%, 31%);
}

.second {
    color: #ffffff;
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: hsl(0, 5%, 7%);
    background-color: hsl(44, 14%, 22%);
}

.main-offer {
    text-align: center;
    font-size: 2rem;
    color: hsl(85, 88%, 31%);
    font-weight: bold;
}

.offer {
    display: flex;
    justify-content: center;
    text-align: center;
}

.offer div {
    padding-left: 2rem;
    padding-right: 2rem;
}

.offer div h5 {
    margin-top: 20px;
    text-align: center;
    /* color: hsl(85, 44%, 48%); */
    color: #ffffff;
    /* font-size: 15px; */
}

.offer div p {
    padding-top: 20px;
    text-align: left;
    color: #ffffff;
    /* color: hsl(0, 5%, 7%); */
    /* color: hsl(85, 93%, 44%); */
    font-size: 15px;
}

.fourth {
    padding-bottom: 2rem;
    /* background-color: #85837c; */
    background-color: hsl(44, 14%, 22%);
}

.com {
    padding-top: 3rem;
    /* font-size: 1.5rem; */
}

.com p {
    text-align: center;
    margin-bottom: 10px;
    color: hsl(85, 88%, 31%);
}

.com-head {
    font-size: 1.5rem;
    font-weight: bold;
}

.com-icon {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 2rem;
    flex-wrap: wrap;
}

.com-icon div p {
    margin-top: 20px;
    text-align: center;
    font-style: oblique;
    font-weight: 500;
    color: #ffffff;
}

.logo {
    padding-left: 60px;
    padding-right: 60px;
}

.main-footer {
    padding: 3rem 0;
    padding-left: 55px;
    padding-right: 55px;
    background: #ffffff;
}

.ft-space {
    font-size: 1.5rem;
    font-weight: 500;
    /* color: #ffffff; */
}

.footer div a {
    /* color:hsl(85, 44%, 48%); */
    /* color: #fff; */
    color: hsl(0, 5%, 7%);
}

.footer div a span {
    color: hsl(85, 88%, 31%);
    font-style: italic;
}

.footer div p {
    font-size: medium;
    padding-right: 2rem;
    color: hsl(0, 5%, 7%);
}

.ft-li {
    margin-bottom: 10px;
    text-decoration: none;
    font-size: small;
    /* color:#87a162; */
}

.btn.btn-tertiary {
    background-color: hsl(85, 88%, 31%);
    color: #ffffff;
    border-radius: 30px;
    border: none;
    padding: 10px 20px;
}

.social li {
    display: inline-block;
}

.social li a:hover {
    /* color: #fff; */
    padding: 7px;
    color: hsl(0, 5%, 7%);
}

.main-footer .copyright {
    border-top: 1px solid hsl(85, 88%, 31%);
    /* color: #ffffff; */
    color: hsl(0, 5%, 7%);
}

a {
    text-decoration: none;
}


/* .list1{
    color:#87a162
 } */

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media screen and (max-width:800px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
    header .nav {
        justify-content: center;
        padding-top: 10px;
        padding-right: 15px;
        /* display: flex; */
    }
    ul.nav.nav-pills {
        padding-left: 10px;
        padding-right: 10px;
        display: flex;
        flex-wrap: nowrap;
    }
    ul.nav.nav-pills>* {
        flex: 0 1 20%;
    }
    .title {
        text-align: center;
        padding-left: 0;
    }
    ul {
        padding-right: 0;
    }
    .first-grid {
        text-align: left;
        padding-left: 30px;
        padding-right: 0px;
    }
    .intro {
        padding-left: 0;
        padding-right: 0.5rem;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        color: #ffffff;
        font-size: 1.5rem;
    }
    .second-grid {
        justify-content: center;
        color: #ffffff;
        text-align: center;
        padding-right: 0;
    }
    .second-grid p {
        font-size: 1.5rem;
        padding-right: 2rem;
        padding-left: 2rem;
        margin-top: 2.0rem;
        margin-bottom: 0;
    }
    .main-dv-icon {
        margin-top: 2rem;
        margin-left: 7.5rem;
        margin-right: 6.25rem;
    }
    dv-icon {
        justify-self: unset;
        width: 100%;
        height: 100%;
    }
    .main-p {
        /* /* margin-left: 6.25rem; */
        margin-right: 0;
        padding: 0 0;
    }
    .main-p p {
        padding: 0 0;
        margin-top: 1rem;
    }
    .bt {
        display: flex;
        /* flex-wrap: wrap; */
    }
    .bt>* {
        flex: 1 0 40%;
    }
    .offer {
        display: flex;
        justify-content: center;
        text-align: center;
        flex-wrap: wrap;
    }
    .offer>* {
        flex: 1 1 20%;
    }
    .com p {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
    .com-icon>* {
        flex: 1 1 20%;
    }
}


}

}